$base-title-color: #3E82E7;
$base-text-color: #7C7C7C;
.subtitles{
  color: $base-title-color;
  font-size: 1.5rem;
}
.text-color{
  color: $base-text-color;
}
.btn-color{
  color: black;
}
.overview{
  margin: 1rem 2rem 2rem 2rem;
  text-align: justify;
}
