<div class="block tablet:px-12 tablet:py-12 mt-[4rem] mobile:px-[0.7rem] mobile:py-[0.7rem] dark:bg-[#9FACBA]">
  <div class="flex gap-12 tablet:mb-12 border-b-gray dark:border-b-black border-b-2 w-full mobile:mb-4">
      <button class="text-[#7C7C7C] dark:text-black" [ngClass]="{'border-b-black btn-color border-b-2': (selected.toLowerCase().includes(option.title.toLowerCase())) }" *ngFor="let option of options" (click)="selectData(option.title)">{{option.title}}</button>
  </div>
  <app-loading *ngIf="loading"></app-loading>
  <div class="mb-2">
    <h2 class="text-2xl text-[#3E82E7] font-medium mb-4 dark:text-[#1f5db9]">{{selected.toUpperCase()}} FORECAST</h2>
    <app-table *ngIf="!loading" [receivedData]="displayedData"></app-table>
  </div>
  <h2 class="text-2xl text-[#3E82E7] mt-[2rem] font-medium dark:text-[#1f5db9]">Weather Charts</h2>
  <div class="flex flex-col items-center mt-[-4rem]">
    <app-chart *ngIf="generalData && !loading" [data]="chartData"></app-chart>
    <div class="flex gap-12 mb-[2rem] h-[3rem] mt-[-4rem]">
      <button class="btn-style" [ngClass]="{'bg-[#DAE5F5] dark:text-gray-400': (selected.toLowerCase().includes(option.title.toLowerCase())) }" *ngFor="let option of optionsChart" (click)="selectData(option.title)">{{option.title}}</button>
    </div>
  </div>
    <h2 class="text-2xl text-[#3E82E7] font-medium mb-[5rem] mobile:mb-[1rem] dark:text-[#1f5db9]">Daily Overview</h2>
  <div class="flex w-full justify-center">
    <h1 class="text-[#7C7C7C] overview dark:text-black">{{infoData}}</h1>
  </div>
</div>
